<table>
<tr>
<td> id </td>
<td> nsc</td>
<td> email </td>
<td> classroom </td>
<td> modifier </td>
<td> supprimer</td>
</tr>

{% for s in students %}
<tr>
<td> {{ s.id}} </td>
<td> {{s.nsc}} </td>
<td> {{s.email}} </td>
<td> {{s.classroom.name}} </td>
<td> <a href ="{{path('modif', {'id':s.id} )}}" >modifier</a> </td>
<td> <a href ="{{path('delete', {'id':s.id} )}}" >supprimer</a> </td> 
</tr>
{% endfor %}
</table>
<form action="{{path ('recherche') }}" method="POST">
        <label for="">Search </label>
        <input type="text" name = "search">
        <input type="submit" value="Submit">
</form>