<table border="1" cellpadding="5">
    <tr>
        <td colspan="5" style="text-align: center"><a href="{{ path('classroom-add') }}">Add</a></td>
    </tr>
    <tr>
        <td> id</td>
        <td> Name</td>
        <td colspan="3"> Actions</td>
    </tr>
    {% for classroom in classrooms %}
        <tr>
            <td> {{ classroom.id }} </td>
            <td> {{ classroom.name }} </td>
            <td><a href="{{ path('classroom-show', {'id':classroom.id} ) }}">Show</a></td>
            <td><a href="{{ path('classroom-update', {'id':classroom.id} ) }}">Update</a></td>
            <td><a href="{{ path('classroom-delete', {'id':classroom.id} ) }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>